<section class="d-flex justify-content-between p-4" style="background-color: #FFD369; color: #222831;">
  <div class="me-5">
    <span>Get connected with us on social networks:</span>
  </div>
  <div>
    <a href="" class="social-medias me-4">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="" class="social-medias me-4">
      <i class="fab fa-google"></i>
    </a>
    <a href="" class="social-medias me-4">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="" class="social-medias me-4">
      <i class="fab fa-github"></i>
    </a>
  </div>
</section>

<footer style="background-color: #222831;">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4">
        <h5 class="mb-3" style="font-family: 'Rubik Moonrocks', cursive; font-size: 28px; color: #eeeeee;">Bike<span style="color: #FFD369;">shop</span></h5>
        <p style="color: #eeeeee;">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
          molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
          voluptatem veniam, est atque cumque eum delectus sint!
        </p>
      </div>

      <div class="col-lg-3 col-md-6 mb-2">
        <h5 class="mb-4" style="color: #FFD369;">contact</h5>
        <p style="color: #eeeeee;"><i class="fas fa-home mr-3" style="color: #FFD369"></i> Manchester, UK</p>
        <p style="color: #eeeeee;"><i class="fas fa-envelope mr-3" style="color: #FFD369"></i> bikeshop@shop.com</p>
        <p style="color: #eeeeee;"><i class="fas fa-phone mr-3" style="color: #FFD369"></i> +44 0161 001 0404</p>
        <p style="color: #eeeeee;"><i class="fas fa-print mr-3" style="color: #FFD369"></i> +44 0161 001 0404</p>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <h5 class="mb-3" style="letter-spacing: 2px; color: #FFD369;">opening hours</h5>
        <table class="table" style="color: #eeeeee; border-color: #666;">
          <tbody>
            <tr>
              <td>Mon - Fri:</td>
              <td>8am - 6pm</td>
            </tr>
            <tr>
              <td>Saturday</td>
              <td>8am - 11am</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.1); color: #FFD368;">
    © 2022 Copyright:
    <a class="text" style="color: #FFD369; text-decoration: none;" href="/">Bikeshop.com</a>
  </div>
</footer>
