.navbar {
  justify-content: space-between;
  background: black;
}

.navbar-brand {
  color: white;
}

.nav-link {
  color: white;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.avatar {
  width: 40px;
}
