.navbar {
  justify-content: space-between;
  background: #222831;
}

.navbar-brand {
  color: white;
  font-family: 'Rubik Moonrocks', cursive;

}

.navbar-brand-effect {
  color: #FFD369;
}

.navbar-brand:hover {
  color: #eeeeee;
}

.navbar-toggler {
  border: none;
  color: white;
}

.navbar-toggler-icon {
  border: none;
  color: white;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #FFD369;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}


.dropdown-menu {
  border-style: none;
  background-color: #FFD369;
  padding: 20px, 20px, 20px, 10px;
}

.dropdown-item {
  font-size: 18px;
}

.dropdown-item:hover {
  background-color: #ffcc56;
}

// avatar

.avatar {
  position: relative;
  top: 6px;
  margin: 0 10px 0 10px;
  width: 20px;
  color: #FFD369;
  filter: invert(93%) sepia(43%) saturate(1670%) hue-rotate(310deg) brightness(107%) contrast(103%);
}
