.navbar {
  justify-content: space-between;
  background: #222831;
}

.navbar-brand {
  color: white;
  font-family: 'Rubik Moonrocks', cursive;

}

.navbar-brand-effect {
  color: #FFD369;
}

.navbar-brand:hover {
  color: #eeeeee;
}

.navbar-toggler {
  border: none;
  color: white;
}

.navbar-toggler-icon {
  border: none;
  color: white;
}

.nav-link {
  color: white;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.avatar {
  width: 32px;
}

.dropdown-menu {
  border-style: none;
  background-color: #FFD369;
  padding: 20px, 20px, 20px, 10px;
}

.dropdown-item {
  font-size: 18px;
}

.dropdown-item:hover {
  background-color: #ffcc56;
}
